# macOS system files
.DS_Store



# VSCode settings
.vscode/

# Compiled files
*.out
*.exe
*.class
*.pyc

# Logs and temp files
*.log
*.tmp

# Ignore build or dist folders
build/
dist/

# Ignore environment files
.env
